<div class="card text-white bg-dark">
  
  <div class="card-header">
    <h4>DETALLE DEL VEHICULO {{vehiculo?.marca}} - {{vehiculo?.modelo}} - {{vehiculo?.anio}}</h4>
  </div>

  <div class="card-body">
    <div class="row">
      <div class="col-5">
        <img [src]="vehiculo?.foto ? vehiculo?.foto : '../../assets/boceto.jpg'" class="img-thumbnail">
      </div>

      <div class="col-1"></div>

      <div class="col-6">
        <form [formGroup]="formulario">
          <div class="row">
            <div class="mb-3">
              <label class="form-label">Codigo</label>
              <input type="text" class="form-control" formControlName="codigo">
              <span class="text-danger" *ngIf="formulario.controls['codigo'].errors?.required">Valor Requerido</span><br>
              <span class="text-danger" *ngIf="formulario.controls['codigo'].errors?.codigoValidate">Solo acepta dígitos</span>
            </div>
        
            <div class="mb-3">
              <label class="form-label">Marca</label>
              <input type="text" class="form-control" formControlName="marca">
              <span class="text-danger" *ngIf="formulario.controls['codigo'].errors?.required">Valor Requerido</span><br>
            </div>
        
            <div class="mb-3">
              <label class="form-label">Modelo</label>
              <input type="text" class="form-control" formControlName="modelo">
              <span class="text-danger" *ngIf="formulario.controls['codigo'].errors?.required">Valor Requerido</span><br>
            </div>
        
            <div class="mb-3">
              <label class="form-label">Anio</label>
              <input type="text" class="form-control" formControlName="anio">
              <span class="text-danger" *ngIf="formulario.controls['codigo'].errors?.required">Valor Requerido</span><br>
            </div>
        
            <div class="mb-3">
              <label class="form-label">Kilometraje</label>
              <input type="text" class="form-control" formControlName="kilometraje">
              <span class="text-danger" *ngIf="formulario.controls['codigo'].errors?.required">Valor Requerido</span><br>
            </div>
        
            <div class="mb-3">
              <label class="form-label">Precio</label>
              <input type="text" class="form-control" formControlName="precio">
              <span class="text-danger" *ngIf="formulario.controls['codigo'].errors?.required">Valor Requerido</span><br>
            </div>
        
            <div class="mb-3">
              <label class="form-label">Calificacion</label>
              <input type="text" class="form-control" formControlName="calificacion">
              <span class="text-danger" *ngIf="formulario.controls['codigo'].errors?.required">Valor Requerido</span><br>
            </div>
            
          </div>
          <div class="row">
            <div class="col-3">
              <button class="btn btn-info" (click)="guardar()">Guardar</button>
            </div>
          </div>
        </form>
        
      </div>
    </div>    
  </div>

  <div class="card-footer">
    <div class="row">
      <div class="col-3">
        <a class="btn btn-light" [routerLink]="['/vehiculos']">Regresar</a>
      </div>
    </div>
  </div>
</div>





